@import "tailwindcss";

body {
    background-color: rgb(24 24 27);
}

.bg-gradient-dark-bottom-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top right, rgba(0,0,0,0.6) 30%, transparent 80%);
  z-index: 1;
}


/* Customize black scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

.custom-scrollbar {
  scrollbar-color: black transparent; /* Firefox */
  scrollbar-width: thin;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
